.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.button {
  background-color: #e9cfcf;
  color: #160404;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 4px;
}

.button1 {
  background-color: #e9cfcf;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 2px;
}

.button:hover {
  background-color: #a599d4;
}
.button1:hover {
  background-color: #a599d4;
}

.success-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f0f0f0;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 9999; /* Add a higher z-index value */
}

.success-popup p {
  margin: 0;
  font-size: 16px;
}

.success-popup button {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.success-popup button:hover {
  background-color: #45a049;
}
