.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 4px;
}

.button1 {
  background-color: white;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 2px;
}

.button:hover {
  background-color: #3e8e41;
}
