body {
  background: linear-gradient(135deg, #1b8af1, #b58ded);
  height: 100vh;
  width: 100%;
  text-align: center;
}

h4 {
  font-family: "Segoe UI", bold;
  font-size: 35px;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

form {
  display: inline-block;
  align-items: center;
  height: 270px;
  width: 350px;
  margin-bottom: 170px;
}
.text_area {
  align-content: center;
  border-radius: 22px;
  margin-bottom: 35px;
  width: 100%;
  height: 64px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2), 0 0 20px 0 rgba(0, 0, 0, 0.19);
}

.text_input {
  margin-top: 1.2rem;
  font-family: "Montserrat regular";
  font-size: 20px;
  border: none;
  width: 80%;
}

.btn {
  margin-top: 28px;
  width: 165px;
  height: 60px;
  border-radius: 30px;
  background: #b58ded;
  border: none;
  font-family: "Montserrat";
  font-size: 20px;
  color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(181, 141, 237, 0.7),
    0 6px 20px 0 rgba(181, 141, 237, 0.9);
  cursor: pointer;
}

.login {
  display: inline-block;
  background: #ffffff;
  width: 434px;
  height: 700px;
  margin-top: 10%;
  border-radius: 22px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.link {
  color: #0e4579;
  font-family: "Montserrat light";
  font-size: 18px;
  cursor: pointer;
  display: block;
  text-decoration: none;
}

.select-role {
  position: relative;
  display: inline-block;
  width: 200px; /* Add a width property */
  padding: 10px; /* Add some padding */
}

.select-role select {
  width: 100%;
  height: 40px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  appearance: none; /* Remove default browser styling */
  -webkit-appearance: none; /* Remove default browser styling for Safari */
}

.select-role select option {
  padding: 10px;
  font-size: 16px;
}

.select-role select option[selected] {
  background-color: #f0f0f0; /* Highlight selected option */
}

.select-role select::-ms-expand {
  display: none; /* Hide the arrow in IE */
}
